@font-face {
  font-family: 'Agenda-RegularExtraCondensed';
  src: url('Agenda-RegularExtraCondensed.otf') format('opentype'),
    url('Agenda-RegularExtraCondensed.woff') format('opentype'),
    url('Agenda-RegularExtraCondensed.ttf') format('truetype'),
    url('Agenda-RegularExtraCondensed.svg#Agenda-RegularExtraCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agenda-Light';
  src: url('Agenda-Light.woff') format('opentype'), url('Agenda-Light.ttf') format('truetype'),
    url('Agenda-Light.svg#Agenda-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agenda-LightItalic';
  src: url('Agenda-LightItalic.woff') format('opentype'),
    url('Agenda-LightItalic.ttf') format('truetype'),
    url('Agenda-LightItalic.svg#Agenda-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agenda-MediumExtraCondensed';
  src: url('Agenda-MediumExtraCondensed.woff') format('opentype'),
    url('Agenda-MediumExtraCondensed.ttf') format('truetype'),
    url('Agenda-MediumExtraCondensed.svg#Agenda-MediumExtraCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

